#graph-plate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1em; }

#graph-svg {
  height: 20em;
  cursor: crosshair; }
  #graph-svg .graph-shape {
    fill: #3772ff;
    fill-opacity: 85%; }
  #graph-svg .graph-axle-text,
  #graph-svg .graph-axle-arrow,
  #graph-svg .graph-label {
    fill: #000; }
  #graph-svg .graph-axle-line,
  #graph-svg .graph-axle-arrow,
  #graph-svg .graph-point {
    stroke: #000; }
  #graph-svg .dotted-line-x,
  #graph-svg .dotted-line-y,
  #graph-svg .dotted-raw-x,
  #graph-svg .dotted-raw-y {
    stroke: #000;
    stroke-dasharray: 5; }
  #graph-svg .dotted-raw-x,
  #graph-svg .dotted-raw-y {
    stroke-width: 2px;
    stroke: red; }
  #graph-svg .crossing {
    fill: red; }

.line {
  stroke: transparent; }
  .line.active {
    stroke: red;
    stroke-width: 1px; }
  .line.pointer {
    stroke: #000;
    stroke-width: 1px; }

.inactive {
  display: none; }

.dot-hit {
  fill: lawngreen; }

.dot-miss {
  fill: red; }

.header {
  font-family: monospace;
  color: black;
  font-size: 20px;
  background: lightsteelblue;
  padding: 10px 0;
  margin-bottom: 40px; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__container span {
      margin-right: 50px; }
      .header__container span:last-child {
        margin-right: 0; }
  .header .link {
    position: absolute;
    right: 10px; }
    .header .link input {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      width: 130px;
      height: 30px;
      border: none;
      cursor: pointer;
      background: #92a8c6;
      border-radius: 7px;
      transition: 0.1s ease-in-out; }
      .header .link input:hover {
        background: #4f6584;
        color: white; }
      .header .link input.active-btn {
        background: #4f6584;
        color: white; }

.panel {
  display: flex;
  align-items: center;
  margin: 15px 0; }
  .panel h4 {
    margin: 0 15px 0 0; }
  .panel input {
    padding: 0 7px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid lightsteelblue;
    outline: none;
    height: 25px; }

.x-buttons, .r-buttons {
  width: 100%; }
  .x-buttons label, .r-buttons label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: lightsteelblue;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.1s ease-in-out; }
    .x-buttons label:hover, .r-buttons label:hover {
      background: #92a8c6; }
    .x-buttons label.active-btn, .r-buttons label.active-btn {
      background: #4f6584;
      color: white; }
  .x-buttons input, .r-buttons input {
    display: none; }
  .x-buttons tr, .r-buttons tr {
    display: flex;
    justify-content: space-between; }

.r-buttons label {
  width: 50px; }

.form {
  width: 320px; }

.btn {
  height: 30px;
  width: 60px;
  margin-left: 26px;
  border-radius: 7px;
  background: lightsteelblue;
  border: none;
  cursor: pointer;
  transition: hover 0.1s ease-in-out; }
  .btn:hover {
    background: #92a8c6; }
  .btn:active {
    background: #4f6584;
    color: white; }

.slider {
  display: flex;
  flex-direction: column;
  text-align: center; }

.main__table {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid lightsteelblue;
  box-sizing: border-box;
  border-radius: 7px;
  text-align: center; }
  .main__table::-webkit-scrollbar {
    display: none; }
  .main__table thead th {
    position: sticky;
    top: 0; }
  .main__table table {
    border-collapse: collapse;
    width: 100%; }
  .main__table th,
  .main__table td {
    padding: 10px; }
  .main__table th {
    background: lightsteelblue;
    color: black; }

.column {
  width: 45px; }

* {
  margin: 0;
  padding: 0; }

.main {
  margin: 0 auto;
  display: flex;
  height: 500px;
  max-width: 1000px; }

.col-5 {
  flex: 41.7% 0; }

.col-7 {
  flex: 58.3% 0; }

.notify {
  color: red;
  width: 320px;
  position: fixed;
  text-align: center; }
  .notify__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    cursor: pointer; }
  .notify.disabled {
    display: none; }

/*# sourceMappingURL=../../../../../target/style.css.map */