$fill-color: #3772ff;
$stroke-color: #000;
$dotted-line-color: red;

$main-background-color: lightsteelblue;
$hovered-button-color: rgb(146, 168, 198);
$active-button-color: rgb(79, 101, 132);

$main-text-color: black;
$additional-text-color:white;

$wrong-input-color:red;